body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;  
}

p {
    color: #8f8f8f ;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.main-title {
    color: white;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.download-button{
    margin: 5% 3% 5% 0;
}


.phone-img {
    width: 60%;
    transform:rotate(25deg);
    position: absolute;
    left: 20%;
}

#features {
    background-color: #fff;
    position: relative;
    padding: 7% 15%;
    z-index: 1;
    
}

.features-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 15px;

}

.feature-box{
    padding: 4.5%;
}

.logo{
    color: #ef8172;
}

.logo :hover{
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    
}

.testimonial-image{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press */

#press{
    background-color: #ef8172;
    padding: 3%;
}

.press-logo{
    width: 15%;
    margin: 15px 20px 50px;
}

.testimonial-text{
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 3.0rem;
    line-height: 1.5;
    color: #fff;
}

.pricing-card{
    padding: 3% 2%;
}

#pricing{
    padding: 100px;
}

@media (max-width: 1028px) {
    .phone-img{
        position: static;
        transform:rotate(0deg);
    }
}


/* Call To Action */

#cta {
    background-color: #ff4c68;
    
}

.cta-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
    padding: 7% 15%;
    padding-bottom: 30px;
}

.footer-icon{
    margin: 50px 10px 20px ;
}



